<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="papacy1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <papacy1.Properties.Settings>
            <setting name="SelectedPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="Copies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LOTNum1" serializeAs="String">
                <value />
            </setting>
            <setting name="LOTNum2" serializeAs="String">
                <value />
            </setting>
            <setting name="LOTNum4" serializeAs="String">
                <value />
            </setting>
            <setting name="LOTNum5" serializeAs="String">
                <value />
            </setting>
            <setting name="LOTNum6" serializeAs="String">
                <value />
            </setting>
            <setting name="LOTNum7" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateName1" serializeAs="String">
                <value>模板1</value>
            </setting>
            <setting name="TemplateName2" serializeAs="String">
                <value>模板2</value>
            </setting>
            <setting name="TemplateName3" serializeAs="String">
                <value>模板3</value>
            </setting>
            <setting name="TemplateName4" serializeAs="String">
                <value>模板4</value>
            </setting>
            <setting name="TemplateName5" serializeAs="String">
                <value>模板5</value>
            </setting>
            <setting name="TemplateName6" serializeAs="String">
                <value>模板6</value>
            </setting>
            <setting name="TemplateName7" serializeAs="String">
                <value>模板7</value>
            </setting>
        </papacy1.Properties.Settings>
    </userSettings>
</configuration>
